.form-group{
    display: flex;
    margin-left: 10px;
    justify-content: center;
}
label{
    padding: 3px;
    width: 15%;
    font-size: 15pt;
    text-align: center;   
}
.form-control{
    padding: 20px;
    width: 40%;
    border: 5px solid #b5ff7d;
}

body,html{
    background: #d7f8f7;
}

